<?xml version="1.0" encoding="UTF-8"?>
<General>
    <passwordScoreMinimo>2</passwordScoreMinimo>
    <passwordLengthMinimo>8</passwordLengthMinimo>
    <intentosMaximos>2</intentosMaximos>
    <presupuestosMinimos>1</presupuestosMinimos>
    <!--><apiVinculador>http://localhost:9001/vincular</apiVinculador><-->
    <apiVinculador>http://vinculador-dds.herokuapp.com/vincular</apiVinculador>

</General>
