body {
    background: white;
    font-family: "Lato", sans-serif;
}

.titulo {
    background: none;
    text-align: center;
}

.padding-body-egreso {
    padding: 16px;
    min-width: 300px;
    max-width: 400px;
}

.padding-button-home {
    padding: 4px;
}

.container-body-egreso {
    width: 70%;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: 8px;
}

.nombre-titulo {
    font-size: 3em;
    color: black;
    font-family: "Cambria";
    font-weight: lighter;
}

.general {
    background: lightgrey;
    border-radius: 2em 2em;
    align-self: center;
    margin: 0 auto;
    width: 500px;
    height: 1000px;
}

.display-7 {
    font-size: calc(1rem + 1vw);
    font-weight: 300;
    line-height: 1.2;
}

.space-evenly-vert {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.general-medio {
    background: none;
    text-align: center;
    width: 210px;
    height: 70px;
    float: left;
}

.general-egresos {
    background: lightgrey;
    border-radius: 2em 2em;
    align-self: center;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
}

.general-numero {
    background: none;
    text-align: center;
    width: 210px;
    height: 70px;
    float: left;
}

.general-siguiente {
    background: none;
    text-align: center;
    width: 200px;
    height: 40px;
    float: right;
}

.general-home {
    background: none;
    text-align: center;
    width: 500px;
    height: 50px;
    float: center;
}

.boton_siguiente {
    border: none;
    background: #A3ABAF;
    width: 10em;
    height: 2em;
    text-align: center;
    font-size: 15px;
    font-family: "Segoe UI";
    font-style: italic;
    color: black;
}

.boton_home {
    border: none;
    background: #A3ABAF;
    width: 20em;
    height: 3em;
    text-align: center;
    font-size: 15px;
    font-family: "Segoe UI";
    font-style: italic;
    color: black;
}

.box-Medio {
    width: 200px;
    height: 20px;
    background: white;
    float: right;
    align-content: center;
}

.medio {
    font-size: 20px;
    font-family: "Cambria";
    color: black;
}

.numero {
    font-size: 20px;
    font-family: "Cambria";
    color: black;
}

.box-numero {
    width: 200px;
    height: 20px;
    background: white;
    float: right;
    align-content: center;
}

.opcion-multiple {
    width: 150px;
    height: 20px;
}

.boton_guardar {
    border: none;
    background: #A3ABAF;
    width: 10em;
    height: 2em;
    text-align: center;
    font-size: 15px;
    font-family: "Segoe UI";
    font-style: italic;
    color: black;
}

.general-guardar {
    background: none;
    text-align: center;
    width: 200px;
    height: 40px;
    float: left;
}
