
body {
  font-family: "Lato", sans-serif;
  height: 100%;
  min-height: 100%;
  background: url("https://i.pinimg.com/originals/da/a6/55/daa6550f1247a73508c5560300d9d697.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html {
  height: 100%;

 }

.general{
  background: white;
  border-radius: 2em 2em;
  align-self: center;
  align-items: center;
  margin: 0 auto;
  max-width: 300px;
  width: 40%;
  height: 50%;
  opacity: 1.5;
}
.space-around-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.space-evenly-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.space-evenly-vert {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.foto-usuario{
  background: none;
  float: left;
  width: 100px;
  height: 50px;
  margin: 0 auto;
}

.fondo-box{
  background: none;
  width: 100px;
  height: 30px;
  align-self: center;
}

.foto_login{
   width:100px;
   height: 100px;
   align: center;
}
.margin-left{
  margin-left: 5%;
}

.input-row{
  display: flex;
  align-items: center;
  justify-content: center;
}

.foto_contraseña{
  position: absolute;
  left:460px;
  top:340px;
}

h1{
  font-style:italic;
  font-size:2em;
  color: white;
  font-family:"Lato", sans-serif;
  font-weight: lighter;
  text-align: center;
}

.boton_personalizado{
  font-size: 15px;
  font-family:"Lato", sans-serif;
  font-style:italic;
  color: white;
  background-color: #1788AF;
  position: absolute;
  left:540px;
  top:410px;
}

.general-home{
  background: none;
  text-align: center;
  width: 380px;
  height: 50px;
  float: center;
}

.texto{
  text-align: center;
  font-family: "Lato",sans-serif;
}

.textoRojo{
  text-align: center;
  font-family: "Lato",sans-serif;
  color: red;
  font-size: 14px;
}
