<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/logic.js"></script>
    <link rel="icon" href="/img/logosolo.png">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <title>Home</title>
</head>
<!-- Home -->
    <!-- Bootstrap -->
<img src="/img/Login.jpg" alt="fondo" class="fondo">

<div style="background-color:#99b0e8;
			border:1px solid black;
			width: 1300px;
  			height: 600px;
  			position: absolute;
  			left: 50%;
  			top: 50%;
  			transform: translate(-50%, -50%);">

	<h1> &nbsp; Veamos nuestros mensajes: </h1>

		<div style="background-color:#b0c1eb;
			border:1px solid black;
			width: 1250px;
  			height: 450px;
  			position: absolute;
  			left: 50%;
  			top: 50%;
  			transform: translate(-50%, -50%);"> <h1 style=" position: absolute; left:50%; top:50%; transform: translate(-50%, -50%);">Aca van los mensajes</h1> </div>

	  	<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	  	<button type="button" onclick="location.href='home';" style="width: 200px; height: 30px; position: relative; left:25px"> Volver a Home</button>
</div>
