<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/logic.js"></script>
    <link rel="stylesheet" href="/css/estilo-comprobante.css">
    <title>Comprobante</title>
</head>
  <body>
    <div class="titulo">
    <h1 class="nombre-titulo">Cargar Comprobante (Opcional)</h1>
    </div>
    <div class="general">
      <br>
      <div class="general-medio">
      <form action="/crearEgreso6" method="post" class="form-">
    <h1 class="medio">Tipo de <br>Comprobante:</h1>
       </div><br>
       <div class="box-Medio">
        <input type="text" name="tipoComprobante">
        </div>
        <br><br><br>
        <div class="general-numero">
      <h1 class="numero">Numero de Comprobante:</h1>
         </div><br>
         <div class="box-numero">
       <input type="number" name="numeroComprobante">
       </div>
       <br><br><br><br>
       <div class="general-siguiente">
     <button class="boton_siguiente" type="submit">Siguiente</button>
     </form>
   </div>
   <div class="general-siguiente2">
   <button class="boton_siguiente" onclick="location.href='/crearEgreso3'">Volver</button>
   </div>
   <br><br><br><br><br>
       <div class="general-home">
       <button class="boton_home" onclick="location.href='/home'">Volver a Home</button>
       </div>
       </div>
  </body>
</html>