<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/logic.js"></script>
    <link rel="stylesheet" href="/css/estilos-crear-proveedor.css">
    <title>Crear Criterio Complejo</title>
</head>
    <body>
        <div class="titulo">
        <h1 class="nombre-titulo">Creación de Criterio Complejo (Opcional)</h1>
        </div>
        <div class="general">
          <br>
          <div class="general-nombre">
           <form action="/crearEgreso8" method="post" class="form-">
        <h1 class="nombre-proveedor">Nombre Criterio:</h1>
           </div><br>
           <div class="box-Nombre">
         <input type="text" name="nombreCriterio">
            </div>
            <br><br><br><br>
            <div class="general-numero">
          <h1 class="numero-proveedor">Critrerio 1:</h1>
             </div><br>
             <div class="box-numero">
               <select class="opcion-multiple" name="primerCriterio">
                     {{#each criterios}}
                         <option value='{{nombre}}'>{{nombre}}</option>
                     {{/each}}
                   </select>
           </div>
           <br><br><br>
           <div class="general-postal">
         <h1 class="numero-postal">Criterio 2:</h1>
            </div><br>
            <div class="box-postal">
              <select class="opcion-multiple" name="segundoCriterio">
                      {{#each criterios}}
                          <option value='{{nombre}}'>{{nombre}}</option>
                      {{/each}}
                  </select>
        </div><br><br><br><br><br><br>
            <div class="general-siguiente">
            <button class="boton_siguiente" type="submit">Siguiente</button>
            </form>
        </div>
        <div class="general-siguiente2">
            <button class="boton_siguiente" type="button" onclick="location.href='/crearEgreso6'">Volver</button>
        </div><br><br><br><br>
           <div class="general-home">
           <button class="boton_home" type="button" onclick="location.href='/home'">Volver a Home</button>
           </div>
           </div>
      </body>
</html>