<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/logic.js"></script>
    <link rel="stylesheet" href="/css/estilos-home.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <title>Home</title>
</head>
 <body>
    {{#if asociarEIok}}<script>alert("Se asociaron los {{totalECount}} ingreso al egreso elegido")</script>
    {{else}}
        {{#if asociarEIfail}}
            <script>alert("Hubo un error asociando los ingresos al egreso elegido")</script>
        {{/if}}
    {{/if}}

 <div>
    <h1 class="titulo">Proem</h1>
    </div>
      <div class="button-container">
        <form action="/logout" method="get" class="form-">
            <button class="boton_salir" onclick="location.href='index-login.html'" type="submit">Salir</button>
        </form>
        <button class="boton_crearOPE" onclick="location.href='/crearOperacionEgreso';">
            <p class="texto-operacion">Crear Operacion de Egreso</p>
        </button>
        <button class="boton_crearIN" onclick="location.href='asocEgresoPresupuestoACategoria'">
            <p class="texto-ingreso">Cargar Operacion de Ingreso</p>
        </button>
        <button class="boton_asociar" onclick="location.href='asocIngresoEgreso'">
            <p class="texto-asociar">Asociar Ingresos</p>
        </button>
        <button class="boton_visualizacion" onclick="location.href='ver-ingresos'">
            <p class="texto-visualizacion">Visualizar Egresos</p>
        </button>
    </div> <br><br><br><br><br><br><br><br>
    <div class="div-gral">
    <h1 class="subtitulo"> ¿Quienes somos? <br><br>Somos una organización sin fines de lucro fundada en el año 2003, donde
      nuestra misión es acompañar
      la preparación laboral, promover el desarrollo, generar emprendimientos
      y fortalecer organizaciones productivas ya constituidas.<br>
      Apoyamos a toda persona que necesite apoyo, asesoramiento y/o acompañamiento en proyectar sus ideas
      como herramientas para generar un trabajo autónomo, así como a jóvenes y adultos que necesitan orientación y capacitación
      para mejorar su formación con el fin de conseguir un empleo</h1>
  </div>
  </body>
</html>