<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="/js/logic.js"></script>
    <link rel="stylesheet" href="/css/estilos-home.css">
    <title>Home</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="space-evenly-horizontal navbar-nav ml-auto">
            <button type="button" class="btn btn-dark align-content-center"
                    onclick="location.href='CrearOperacionEgreso'">Crear Operacion de Egreso
            </button>
            <button type="button" class="btn btn-dark align-content-center" onclick="location.href='ingreso'">
                Cargar Operacion de Ingreso
            </button>
            <button type="button" class="btn btn-dark align-content-center" onclick="location.href='asocHome'">
                Asociar
            </button>
            <button type="button" class="btn btn-dark align-content-center"
                    onclick="location.href='visualizacionIngresoEgresoPorCat'">Visualizar Egresos
            </button>
            <button type="button" class="btn btn-dark align-content-center" onclick="location.href='ver-bandeja'">
                Bandeja de Entrada
            </button>
        </div>

        <form action="/logout" method="get" class="form d-flex justify-content-end">
                <button class="btn btn-dark" onclick="location.href='index-login.html'" type="submit">Salir</button>
            </form>

    </div>
</nav>


<h1 class="titulo">Poem</h1>


<h3 class="subtitulo">¿Quienes somos?</h3>
<p class="descripcion">
    Somos una organización sin fines de lucro fundada en el año 2003, donde nuestra misión es acompañar la preparación
    laboral, promover el desarrollo, generar emprendimientos y fortalecer organizaciones productivas ya constituidas.
    <br>
    Apoyamos a toda persona que necesite apoyo, asesoramiento y/o acompañamiento en proyectar sus ideas como
    herramientas para generar un trabajo autónomo, así como a jóvenes y adultos que necesitan orientación y capacitación
    para mejorar su formación con el fin de conseguir un empleo
</p>
</body>
</html>