<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="/js/logic.js"></script>
    <link rel="stylesheet" href="/css/estilos-cargar-egreso.css">
    <title>Login</title>
</head>
<body>
    <div class="titulo">
    <h1 class="nombre-titulo">Creación de Operación de Egreso</h1>
    </div>
    <div class="general">
      <br><br>
      <div class="general-fecha">
    <h1 class="fecha">Fecha de Operación:</h1>
       </div><br>
       <div class="box-Fecha">
     <input type="date">
        </div>
        <br><br><br>
        <div class="general-proveedor">
      <h1 class="proveedor">Proveedor:</h1>
         </div><br>
         <div class="box-proveedor">
       <select class="opcion-multiple">
          <option value="value1">Value 1</option>
        </select>
       </div>
       <br><br><br>
       <div class="general-valor">
     <h1 class="numero-valor">Valor Total:</h1>
   </div><br>
        <div class="box-valor">
      <input type="number">
      </div><br><br><br><br>
       <div class="general-siguiente">
     <button class="boton_siguiente" onclick="location.href='crear-medio-pago.html'">Siguiente</button>
   </div>
   <div class="general-siguiente2">
 <button class="boton_volver" onclick="location.href='crear-proveedor.html'">Volver</button>
</div><br><br><br><br>
       <div class="general-home">
       <button class="boton_home" onclick="location.href='index-menu-revisor.html'">Volver a Home</button>
       </div>
       </div>
  </body>
</html>