<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <script src="/js/logic.js"></script>
    <link rel="stylesheet" href="/css/estilo-visualizar-egreso.css">
    <!-- CSS only -->
    <title>Ver Egresos</title>
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <div class="space-around-horizontal navbar-nav ml-auto">
            <a class="navbar-brand" onclick="location.href='/home'">Home</a>
            <button type="button" class="btn btn-dark align-content-center"
                    onclick="location.href='/crearOperacionEgreso'">Crear Operacion de Egreso
            </button>
            <button type="button" class="btn btn-dark align-content-center" onclick="location.href='/ingreso'">
                Cargar Operacion de Ingreso
            </button>

            <div class="dropdown align-content-md-around">
                <button class="btn btn-dark align-content-center dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown"
                        aria-expanded="true">
                    Asociar
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" onclick="location.href='/asocIngresoEgreso'">Ingreso Egreso</a></li>
                    <li><a class="dropdown-item" onclick="location.href='/asocCategoriaEgreso'">Categoria Egreso</a></li>
                    <li><a class="dropdown-item" onclick="location.href='/asocCategoriaPresupuesto'">Categoria Presupuesto</a></li>
                </ul>
            </div>

            <div class="dropdown align-content-center">
                <button class="btn btn-dark align-content-center dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-bs-toggle="dropdown"
                        aria-expanded="true">
                    Visualizar
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" onclick="location.href='/ver-ingresos'">Ver Ingresos</a></li>
                    <li><a class="dropdown-item" onclick="location.href='/ver-egresos'">Ver Egresos</a></li>
                </ul>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-dark" onclick="location.href='/ver-bandeja'">
                Bandeja de Entrada
            </button>
            <form action="/logout" method="get" class="form">
                <button class="btn btn-dark" onclick="location.href='index-login.html'" type="submit">Salir</button>
            </form>
        </div>


    </div>
</nav>
<div class="d-flex justify-content-center" style="padding: 64px">
    <div class="card text-dark bg-light-tp mb-3"
         style="min-height: 20rem; min-width: 24rem; max-width: 70%">
        <div class="card-header display-7 text-center"> Ingreso {{ingreso.id}}  </div>
        <div class="card-body" style="margin-top: 32px">
            <div class="space-evenly-vert align-items-start">
                <div class="justify-content-start" style="padding-right: 0">
                    <p class="card-text">Descripcion: {{ingreso.descripcion}}</p>
                    <p class="card-text">Fecha: {{ingreso.fechaOperacion}}</p>
                    <p class="card-text">Monto Total: {{ingreso.montoTotal}}0 $ </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="d-flex justify-content-center padding-button-home">
    <button class="btn btn-lg btn-dark rounded-pill" onclick="location.href='/home'">Volver a Home</button>
</div>
</div>

</body>
</html>