<!DOCTYPE html>
<html lang="en" dir="ltr" >
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/27517fada0.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lexend+Deca&display=swap" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
            crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="/js/logic.js"></script>
    <link rel="stylesheet" href="/css/estilos-login.css">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<div class="general"><br><br>
    <form action="/" method="post" class="form-">
        <div class="space-evenly-vert">
            <div align="center">
                <img class="foto_login" src="img/login.png" alt="login">
            </div>
            <br>

            <div class="input-row">
                <img class="m-2" src="img/usuario.png" alt="" width="5%">
                <input name="nombreDeUsuario" placeholder="Usuario">
            </div>

            <div class="input-row">
                <img class="m-2" src="img/contrasenia.png" alt="" width="5%">
                <input name="contrasenia" type="password" placeholder="Contraseña">
            </div>
            {{#if incorrecta}}
                <span class="textoRojo"> Contraseña incorrecta.</span>
            {{/if}}
            {{#if user-invalido}}
                <span class="textoRojo"> Usuario inexistente. </span>
            {{/if}}

            {{#if bloqueado}}
                <span class="textoRojo"> Usuario bloqueado, espere 5 minutos. </span>
            {{/if}}
            <br><br>
            <div class="general-home">
                <button class="texto btn btn-dark rounded-pill" type="submit"
                        onclick="location.href='index-menu-revisor.html'">Iniciar Sesión
                </button>
            </div>
        </div>
    </form>
</div>
</div>
</body>
</html>